body {
    font-family: 'Space Mono', monospace;
    margin: 0;
    box-sizing: border-box;
}
/*1- BACKGROUND */

/** BACKGROUND LAYER **/
/*** Uses flexbox to stack items ***/
#bg-layer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(185, 41%, 84%);
    padding: 8em 1em;
}
/** HEADER LOGO **/
#header-img {
    margin-bottom: 4em;
}

/*2- MAIN LAYER */

/** MAIN CONTAINER **/
/*** Main container uses flexbox to stack items in a column ***/
#main-layer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    width: 100%;
    height: 750px;
    border-radius: 30px;
    padding: 0 15px;
}

@media only screen and (min-width: 480px) {
    #main-layer {
        width: 70%;
        
    }
}


/*** On screens 768px and wider, the items no longer stack ***/
@media only screen and (min-width: 768px) {
    #main-layer {
        flex-direction: row;
        justify-content: space-between;
        width: 690px;
        height: 310px;
        padding: 50px 30px;
    }
}

/*3- COLUMN A */

/** COLUMN A LAYOUT **/
/*** Column A uses flexbox to stack items ***/
#col-a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    margin: 0;
    width: 90%;
}

/*** On screens 768px and wider, the width is changed using flex-basis property ***/
@media only screen and (min-width: 768px) {
    #col-a {
        flex-basis: 44%;
    }
}

/*** Input sections use flexbox to stack items ***/
#input-section-a, #input-section-c {
    display: flex;
    flex-direction: column;
    position: relative;
}

/*** Images are positioned onto input elements using absolute positioning ***/
#input-section-a img, #input-section-c img {
    position: absolute;
    top: 57%;
    left: 5%;
}

/*** Margin is added to input sections ***/
#input-section-b, #input-section-c {
    margin-top: 30px;
    
}

/*** Label styling for column a ***/
.col-a-sections label {
    color: hsl(186, 14%, 43%);
    font-size: .8em;
    font-weight: bold;
}

/*** Styling for all number input elements ***/
input[type=number] {
    border: none;
    border-radius: 5px;
    background-color: hsl(189, 41%, 97%);
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    font-weight: bold;
    color: hsl(183, 100%, 15%);
    padding: 5px 10px 5px 5px;
    text-align: right;
    margin-top: 5px;
    -moz-appearance: textfield;
    width: 98%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*** Changes default border style of focused input element***/
input[type=number]:focus {
    outline: 3px solid hsl(172, 67%, 45%);
    border-radius: 2px;
}

/*** Custom size of input element ***/ 
#custom-btn input {
    margin-top: 0;
    padding: 7px 7px 7px 0;
}

/** TIP BUTTONS **/
/*** Tip buttons container uses grid to create 2 columns ***/
#tip-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    margin-top: 10px;    
}

/*** On screens 768px and wider, 3 columns are created ***/
@media only screen and (min-width: 768px) {
    #tip-wrapper {
        grid-template-columns: repeat(3, 1fr);
        gap: .7rem;
    }
}

/*** Styling for tip buttons ***/
.tip-btn {
    background-color: hsl(183, 100%, 15%);
    color: hsl(189, 41%, 97%);
    border-style: none;
    border-radius: 5px;
    font-size: 1.6em;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    padding: .2em .8em;
}

/*** On screens 768px and wider, font size is decreased ***/
@media only screen and (min-width: 768px) {
    .tip-btn {
        font-size: 1.2em;
        padding: .4em 1.5em;
    }
}

/*** Changes color of button on hover ***/
.tip-btn:hover {
    background-color: #a0f5f8;
    color: black;
}

/*** Changes color of button on focus ***/
.tip-btn:focus {
    background-color: hsl(172, 67%, 45%);
    color: black;
}

/** JS STYLING IN COLUMN-A **/
/*** this class is added to input element when function is called ***/
.invalid-border {
    outline: 3px solid rgb(201, 81, 11);
}

/*** this class is added to element when function is called ***/
.invalid-text {
    width: 39%;
    color: rgb(201, 81, 11);
    font-size: .7em;
    font-weight: bold;
    position: absolute;
    left: 60%;
    text-align: right;
}

/*4- COLUMN-B */

/** COLUMN-B LAYOUT **/
/*** Column b uses flexbox to stack items ***/
#col-b {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: hsl(183, 100%, 15%);
    border-radius: 15px;
    color: hsl(0, 0%, 100%);
    margin: 0;
    padding: 30px 20px 10px 20px;
    height: 200px;
    width: 85%;
}

/*** On screens 768px and wider, column b is resized ***/
@media only screen and (min-width: 768px) {
    #col-b {
        flex-basis: 44%;
        height: 320px;
        padding: 20px 20px 10px 20px;        
    }
}

/** TIP AND TOTAL AMOUNT DISPLAY LAYOUT **/
/*** Tip display container uses grid to create 2 columns ***/
.tip-display-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/*** On screens 768px and wider, margin is added for spacing ***/
@media only screen and (min-width: 768px) {
    .tip-display-wrapper {
        margin-bottom: 30px;
    }
}

/** TIP AND TOTAL AMOUNT DISPLAY STYLING **/
/*** Text alignment for tip label element ***/
.tip-labels {
    text-align: left;
}

/*** Removes default margin for label elements ***/
#tip-label, #total-label {
    margin: 0;
}

/*** Styling for tip person element ***/
.tip-person {
    font-weight: bold;
    color: hsl(184, 14%, 56%);
    font-size: .8em;
}

/*** Text align tip amount element ***/
.tip-amounts {
    text-align: right;
}

/*** Styling for tip amount element ***/
.tip-amount {
    font-size: 2em;
    font-weight: bold;
    color: hsl(172, 67%, 45%);
}

/**RESET BUTTON**/
/*** Alignment for reset button ***/
#reset {
    align-self: center;
    width: 100%;
}

/*** On screens 768px and wider, add margin to top of reset button ***/
@media only screen and (min-width: 768px) {
    #reset {
        margin-top: 30px;
    }
}

/*** Styling for reset button ***/
#reset-btn {
    width: 100%;
    padding: 8px;
    background-color: hsl(183, 43%, 24%);
    border-style: none;
    border-radius: 5px;
    font-family: 'Space Mono', monospace;
    font-size: 1em;
    font-weight: bold;
    color: hsl(184, 66%, 18%);
}

/*** On hover, change background color for reset button ***/
#reset-btn:hover {
    background-color: #a0f5f8;
}

/* ATTRIBUTION TEXT STYLING */
.attribution {
    font-size: 11px; text-align: center;
}
    
.attribution a {
    color: hsl(228, 45%, 44%);
}