body {
    font-family: 'Space Mono', monospace;
    margin: 0;
    box-sizing: border-box;
}
/* BACKGROUND LAYER */
#bg-layer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(185, 41%, 84%);
    padding: 8em 1em;
}
/* HEADER LOGO */
#header-img {
    margin-bottom: 4em;
}
/* MAIN CONTAINER LAYOUT USING FLEXBOX TO CREATE TWO COLUMNS */
#main-layer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    width: 320px;
    height: 750px;
    border-radius: 25px;
    padding: 0 30px 30px 30px;
}

/* ON SCREENS 768PX AND WIDER, MAIN CONTAINER LAYOUT USING FLEXBOX CHANGES FROM COLUMNS TO ROWS */
@media only screen and (min-width: 768px) {
    #main-layer {
        flex-direction: row;
        justify-content: space-between;
        width: 670px;
        height: 310px;
        padding: 50px 30px;
    }
}

/* COL-A USES FLEXBOX TO CREATE COLUMNS FOR EACH INPUT SECTION */
#col-a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    margin: 0;
}

/* ON SCREENS 768PX AND WIDER, THE WIDTH IS SET USING FLEX-BASIS PROPERTY*/
@media only screen and (min-width: 768px) {
    #col-a {
        flex-basis: 45%;
    }
}

/* INPUT SECTIONS USE FLEXBOX TO CREATE COLUMNS */
#input-section-a, #input-section-c {
    display: flex;
    flex-direction: column;
    position: relative;
}

/* IMAGES ARE ADDED TO INPUT FIELDS USING ABSOLUTE POSITIONING */
#input-section-a img, #input-section-c img {
    position: absolute;
    top: 63%;
    left: 5%;
}

/* MARGIN IS ADDED TO INPUT SECTIONS */
#input-section-b, #input-section-c {
    margin-top: 30px;
    
}

/* LABEL STYLING FOR COL-A */
.col-a-sections label {
    color: hsl(186, 14%, 43%);
    font-size: .8em;
    font-weight: bold;
}

/* COL-B USES FLEXBOX TO CREATE COLUMNS */
#col-b {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: hsl(183, 100%, 15%);
    border-radius: 15px;
    color: hsl(0, 0%, 100%);
    margin: 0;
    padding: 30px 20px 10px 20px;
    height: 200px;
    width: 90%;
}

/* ON SCREENS 768PX AND WIDER, WIDTH IS SET FOR COL-B */
@media only screen and (min-width: 768px) {
    #col-b {
        flex-basis: 45%;
        height: 320px;
        padding: 20px 20px 10px 20px;        
    }
}

/* STYLING FOR ALL NUMBER INPUTS ELEMENTS */
input[type=number] {
    border: none;
    border-radius: 5px;
    background-color: hsl(189, 41%, 97%);
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    font-weight: bold;
    color: hsl(183, 100%, 15%);
    padding: 5px 10px 5px 5px;
    text-align: right;
    margin-top: 5px;
    -moz-appearance: textfield;
    width: 95%;
}

/* DEFAULT ARROWS ARE REMOVED FROM NUMBER INPUT ELEMENTS */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ADDS STYLE TO INPUT WHEN IT IS IN FOCUS */
input[type=number]:focus {
    outline: 3px solid hsl(172, 67%, 45%);
    border-radius: 2px;
}

/* CUSTOM SIZE OF INPUT ELEMENT */ 
#tip-wrapper input[type=number] {
    width: 75%;
    margin: 0;
    padding: 0 .8em;
}

/* ON SCREENS 768PX AND WIDER, INCREASE SIZE OF INPUT ELEMENT */
@media only screen and (min-width: 768px) {
    #tip-wrapper input[type=number] {
        width: 80%;
        font-size: 1.2em;
        padding: 0 .5em;
    }
}

/* ADDS BORDER TO INPUT ELEMENT WHEN FUNCTION IS CALLED */
.invalid-border {
    outline: 3px solid rgb(201, 81, 11);
}

/* TIP BUTTONS CONTAINER USES GRID TO CREATE 2 COLUMNS AND 3 ROWS */
#tip-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    margin-top: 10px;
}

/* ON SCREENS 768PX AND WIDER, 3 COLUMNS AND 2 ROWS ARE CREATED */
@media only screen and (min-width: 768px) {
    #tip-wrapper {
        grid-template-columns: repeat(3, 1fr);
        gap: .7em;
    }
}

/* STYLING FOR TIP BUTTONS */
.tip-btn {
    background-color: hsl(183, 100%, 15%);
    color: hsl(189, 41%, 97%);
    border-style: none;
    border-radius: 5px;
    font-size: 1.6em;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    padding: .2em .8em;
}

/* ON SCREENS 768PX AND WIDER, FONT SIZE IS DECREASED */
@media only screen and (min-width: 768px) {
    .tip-btn {
        font-size: 1.2em;
        padding: .4em 1.5em;
    }
}

/* ON HOVER, TIP BUTTON STYLE CHANGES */
.tip-btn:hover {
    background-color: #a0f5f8;
    color: black;
}

/* ON FOCUS, TIP BUTTON STYLE CHANGES */
.tip-btn:focus {
    background-color: hsl(172, 67%, 45%);
    color: black;
}

/* STYLES ELEMENT WHEN FUNCTION IS CALLED */
.invalid-text {
    width: 39%;
    color: rgb(201, 81, 11);
    font-size: .8em;
    font-weight: bold;
    position: absolute;
    top: .3em;
    left: 15em;
    text-align: right;
}


/* TIP DISPLAY CONTAINER USES GRID TO CREATE 2 ROWS AND 2 COLUMNS */
.tip-display-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* ON SCREENS 768PX AND WIDER, MARGIN IS ADDED FOR SPACING */
@media only screen and (min-width: 768px) {
    .tip-display-wrapper {
        margin-bottom: 30px;
    }
}

/* TEXT ALIGNMENT FOR TIP LABEL ELEMENT */
.tip-labels {
    text-align: left;
}

/* REMOVES DEFAULT MARGIN FOR LABEL ELEMENTS */
#tip-label, #total-label {
    margin: 0;
}

/* STYLING FOR TIP-PERSON ELEMENT */
.tip-person {
    font-weight: bold;
    color: hsl(184, 14%, 56%);
    font-size: .8em;
}

/* TEXT ALIGNMENT TIP AMOUNT ELEMENT */
.tip-amounts {
    text-align: right;
}

/* STYLING FOR TIP-AMOUNT ELEMENT */
.tip-amount {
    font-size: 2em;
    font-weight: bold;
    color: hsl(172, 67%, 45%);
}

/* ALIGNMENT FOR RESET BUTTON */
#reset {
    align-self: center;
    width: 100%;
}

/* ON SCREENS 768PX AND WIDER, ADD MARGIN TO TOP OF RESET BUTTON */
@media only screen and (min-width: 768px) {
    #reset {
        margin-top: 30px;
    }
}

/* STYLING FOR RESET BUTTON */
#reset-btn {
    width: 100%;
    padding: 8px;
    background-color: hsl(183, 43%, 24%);
    border-style: none;
    border-radius: 5px;
    font-family: 'Space Mono', monospace;
    font-size: 1em;
    font-weight: bold;
    color: hsl(184, 66%, 18%);
}

/* ON HOVER, CHANGE BACKGROUND COLOR FOR RESET BUTTON */
#reset-btn:hover {
    background-color: #a0f5f8;
}

/* ATTRIBUTION STYLING*/
.attribution {
    font-size: 11px; text-align: center;
}
    
.attribution a {
    color: hsl(228, 45%, 44%);
}